 <div class="article">
                <div [class.current]="toggle" class="item" >
                   
                        <span  [class.fa-caret-square-o-up]="toggle"
                         [class.fa-caret-square-o-down]="!toggle"
                          class="fa"  (click)="toggle=!toggle" style="cursor: pointer; padding-left: 10px;"></span>
                  
                        <p style="width: 200px;" class="source"><strong>{{ stanica.name }}</strong></p>
                  
                        <p class="text-right"> {{stanica.main.temp - 273.15 | number:'1.1-1'}} &deg;C</p>
                   
                        <img src="img/{{ stanica.weather[0].icon}}.png" />
                
                        <p class="pubdate">{{stanica.dt *1000 | date:'HH:mm'}} h</p>
                   
                </div>                
                <div class="row" *ngIf="toggle">                   
                    <div class="details-conteiner">                       
                            <div>
                                <div>Temperatura</div>
                                <div>{{stanica.main.temp - 273.15 | number:'1.1-1'}} &deg;C</div>
                            </div>
                            <div>
                                <div>Pritisak</div>
                                <div class="text-center">{{stanica.main.pressure}} hpa</div>
                            </div>
                            <div>
                                <div>Vlažnost</div>
                                <div class="text-center">{{stanica.main.humidity}} %</div>
                            </div>
                            <div>
                                <div>Brzina vetra</div>
                                <div class="text-center">{{stanica.wind.speed}} m/s</div>
                            </div>
                            <div>
                                <div>Pravac vetra</div>
                                <div class="text-center">{{stanica.wind.deg | number:'1.1-1'}}&deg; ({{ pravacStr(stanica.wind.deg)}})</div>
                            </div>
                    </div>
                    <div class="col-xs-5">&nbsp;</div>
                </div>
            </div>